/* Сброс стандартных отступов и полей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Устанавливаем базовый шрифт для всего документа */
body {
    font-family: Arial, sans-serif;
    background-color: #fff; /* Легкий серый фон */
    color: #333; /* Темно-серый текст */
    line-height: 1.6;
}

/* Базовые стили для заголовков */
/* h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    font-weight: bold;
} */

/* Базовые стили для ссылок */
a {
    color: #007BFF; /* Синий цвет ссылок */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Подчёркивание при наведении */
}

/* Базовые стили для списков */
ul, ol {
    list-style: none;
}

/* Базовые стили для изображений */
img {
    max-width: 100%; /* Изображение не выйдет за пределы контейнера */
    height: auto;
    display: block;
}
